package views

import "breeze/internal/layouts"

templ Home(name string, isAuth bool, csrfToken string) {
	@layouts.Base("Home", isAuth, csrfToken) {
		<div class="font-bold text-3xl">Hello { name }</div>
	}
}
